*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr;
}

.flashcard--wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
}

header {
  background-color: chartreuse;
  color: darkolivegreen;
}

.card-container {
  position: relative;
}

.card {
  position: absolute;;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.toggler {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.toggler:checked + .card {
  background-color: red;
}
